<!--
	Use ` | safe` to allow html tages within the text string.
	https://mozilla.github.io/nunjucks/templating.html#autoescaping
-->

<div class="small">
	<div>time:{{time_min}}:{{time_sec}}</div><br/>
	<div>mode:{{mode_str}}</div><br/>
	<div>state:{{state_str}}</div><br/>
	<div>pressure:{{flags.over_pressure}}</div><br/>
	<div>sector:{{sector}}</div><br/>
</div>
