<!--
	Use ` | safe` to allow html tages within the text string.
	https://mozilla.github.io/nunjucks/templating.html#autoescaping
-->

{{gfx | safe}}
<div class="small">
	<div>time:{{time_min}}:{{time_sec}}</div>
	<div>mode:{{mode_str}}</div>
	<div>state:{{state_str}}</div>
	<div>pressure:{{flags.over_pressure}}</div>
	<div>sector:{{sector}}</div>
</div>
